.admin-layout {
  display: flex;
}

.left {
  width: 350px;
  border-right: 1px solid grey;
  height: 100vh;
  position: fixed;
  z-index: 999;
}
.right {
  margin-left: 350px;
  width: 100%;
}
.main {
  min-height: 80vh;
}
