* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ==========Registration page============= */
.register-page {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reg-form {
  width: 500px;
  margin: auto;
  box-shadow: -5px 5px 5px 5px grey;
  opacity: 0.8;
}
.genders {
  margin-right: 0.5rem;
}
.admin-layout {
  min-height: 100vh;
}
