* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* ==========Registration page============= */
.reg-form {
  width: 500px;
  margin: auto;
  margin-top: 20vh;
  box-shadow: -5px 5px 5px 5px grey;
}
.genders {
  margin-right: 0.5rem;
}
